<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 p-10">

<h1 class="text-2xl font-bold mb-6">
🔮 Make Prediction
</h1>

<form action="/result" method="post" class="grid grid-cols-2 gap-4">

{% for feature in features %}

<input
type="number"
step="any"
name="{{feature}}"
placeholder="{{feature}}"
class="border p-2 rounded"
/>

{% endfor %}

<button class="col-span-2 bg-green-500 text-white p-3 rounded">
Predict
</button>

</form>

</body>
</html>